<div class="margem-geral">


    <p>
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>share</mat-icon>
            </button>
        </mat-toolbar>
    </p>

    <mat-card>

        <mat-card-header>
            <mat-card-title>
                <h1>Voice recognition</h1>
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>

            <div>
                <p>{{service.text}}</p>
                <textarea matInput [(ngModel)]="service.text" name="service.text"></textarea>
            </div>

        </mat-card-content>


        <mat-card-footer>
            <br />
            <div class="center">
                <mat-slide-toggle [(ngModel)]="habilitado" (click)="processar()">Reconhecimento de fala Ativo?
                    {{habilitado}}</mat-slide-toggle>
            </div>
            <br />
        </mat-card-footer>

    </mat-card>

</div>